parameters:
	ignoreErrors:
		-
			message: '#^Method PrettyPhp\\Arr\:\:groupBy\(\) has parameter \$callback with no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: src/Arr.php

		-
			message: '#^PHPDoc tag @param for parameter \$callback with type \(Closure\)\|string is not subtype of native type Closure\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Arr.php

		-
			message: '#^Method PrettyPhp\\Str\:\:toArray\(\) should return PrettyPhp\\Arr\<string\> but returns PrettyPhp\\Arr\<non\-empty\-string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Str.php

		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Str.php
